knpu_oauth2_client:
  clients:
    google:
      type: google
      client_id: '%env(OAUTH_GOOGLE_CLIENT_ID)%'
      client_secret: '%env(OAUTH_GOOGLE_CLIENT_SECRET)%'
      # Au lieu de redirect_route, on peut utiliser redirect_uri (optionnel)
      # redirect_uri: 'http://localhost:8080/connect/google/check'
      redirect_route: connect_google_check
      redirect_params: {}